<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="/css/styleHomePage.css" />
    <title>Inventory status</title>
</head>
<body>
    <div class="topnav">
        <a href="/TMDT/trangchu">Home</a>
        <a class="active" href="/TMDT/checkinventory">Check Inventory</a>
        <a href="/TMDT/checkorder">Check Order</a>
        <div class="logout-container">
            <form action="/TMDT/dangxuat" method="POST">
                <button type="submit">Logout</button>
              </form>
        </div>
      </div>

    <div class="search_container">
        <form action="/TMDT/checkinventory" method="GET" class="form_search_container">
            <div class="form-group-search">
                <input type="submit" class="btn btn-info btn-md" value="Back">
            </div>
        </form>
    </div>
    
    <div class="w3-container">
        <h2>Inventory status</h2>
      
        <table class="w3-table-all w3-hoverable">
          <thead>
            <tr class="w3-light-grey">
              <th>Inventory Name</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>        
                   <tr>
                     <td><%= nameInven %></td>
                     <td><%= checkstatus %></td>
                   </tr>         
          </tbody>     
        </table>
      </div>
</body>
</html>